asgiref
attrs
autobahn
Automat
cffi
channels
constantly
cryptography
daphne
Django
djangorestframework
djangorestframework_simplejwt
dnspython
hyperlink
idna
incremental
pillow
psycopg2
pyasn1
pyasn1_modules
pycparser
PyJWT
pymongo
pyOpenSSL
python-dotenv
pytz
service-identity
setuptools
sqlparse
Twisted
txaio
typing_extensions
zope.interface
channels-redis
whitenoise
dj-database-url
pymongo[srv]
corsheaders
